<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="org.great.mapper.OrderMapper">
 
 	<!-- 套餐设置显示 -->
 	<select id="showMeal" parameterType="java.lang.String"  resultType="org.great.bean.SetmealBean">			
 		select b.*, rownum from 
		(select a.*,rownum rn  from 
		(select * from  tblsetmeal  	
		<where>
		     <if test="setmeal!=null and setmeal !=''" >   setmeal like concat(concat('%',#{setmeal}),'%') order by  setmeal desc   </if>
		</where>
		) a 
		where rownum &lt;= (#{currentPage} * #{pagecount})  )b  where rn &gt;= ((#{currentPage}-1)*#{pagecount}+1)
 	</select>
 	
 	<!-- 套餐计算总页数 -->
 	<select id="totalPage" parameterType="java.lang.String" resultType="java.lang.Integer">
 		select count(*) from (select * from  tblsetmeal   
 		<where>
		     <if test="setmeal!=null and setmeal !=''" >   
		     setmeal like concat(concat('%',#{setmeal}),'%') order by  setmeal desc   </if>
		</where>
		)
 	</select>	
 	
 	<!-- 增加项目中的页面展示 -->
 		<select id="findItemById" parameterType="java.lang.Integer" resultMap="Tblfile">
 			select a.*,b.*,c.comId from tblitem a,tblsetmeal b,tblsetcom c  where b.setmealId = c.setmealId and a.itemId = c.itemId 
 			
 			<if test="null != setmealId and ''!= setmealId">
 					and c.setmealId not in #{setmealId}
 			</if>				
 		</select>
 		
 	<!-- 查询套餐中的项目 -->	
 		<select id="queryItemById" resultMap="Tblfile">
 			select e.*,rownum from
			(select d.* ,rownum rn from
			(select a.*,b.*,c.comId from tblitem a,tblsetmeal b,tblsetcom c  
			<where>
				b.setmealId = c.setmealId and a.itemId = c.itemId 
				<if test="null != setmealId and ''!= setmealId">
 					and c.setmealId = #{setmealId}
 				</if>
 				<if test="null!=litemBean.item and ''!=litemBean.item">				
 					and  a.item like concat(concat('%',#{litemBean.item}),'%')
 				</if>
 				<if test="null!=itemConBean.maxPrice and ''!=itemConBean.maxPrice">
 					 and	a. price&gt;=#{itemConBean.maxPrice}			
 				</if>
 				<if test="null!=itemConBean.minPrice and ''!=itemConBean.minPrice">
 				      and  a.price &lt;=#{itemConBean.minPrice}				
 				</if>
 				
			</where>						
			)d                                                          
			where rownum &lt;= (#{itemConBean.currentPage} * #{itemConBean.pagecout}) )e where rn &gt;=((#{itemConBean.currentPage}-1)*#{itemConBean.pagecout}+1)		
 		</select>
 		
 		
 	<!-- 计算套餐中项目的总页数 -->
 		<select id="sumOrderByItem" resultType="java.lang.Integer">
 			select count(*) from
			(select a.*,b.*,c.comId from tblitem a,tblsetmeal b,tblsetcom c  
			<where>
				b.setmealId = c.setmealId and a.itemId = c.itemId 
				<if test="null != setmealId and ''!= setmealId">
 					and c.setmealId = #{setmealId}
 				</if>
 				<if test="null!=litemBean.item and ''!=litemBean.item">				
 					and a.item like concat(concat('%',#{litemBean.item}),'%')
 				</if>
 				<if test="null!=itemConBean.maxPrice and ''!=itemConBean.maxPrice">
 					 and	a. price&gt;=#{itemConBean.maxPrice}			
 				</if>
 				<if test="null!=itemConBean.minPrice and ''!=itemConBean.minPrice">
 				     and   a.price &lt;=#{itemConBean.minPrice}				
 				</if>
 				
			</where>
					)		
 		</select>
 		
 		
 		
 	<!-- 删除套餐名 -->	
 		<delete id="deleteOrder" parameterType="java.lang.Integer" >
 				delete FROM TBLSETMEAL WHERE setmealId = #{setmealId}
 		
 		</delete>
 		
 		<!-- 计算后台文档管理所需用到字段属性 -->
	<resultMap type="org.great.bean.LitemBean" id="Tblfile"> <!-- 这里的type配置包可以省略全路径 -->
		<!--主bean  -->
	 	<result column="itemId"  property="itemId"/>
	 	<result column="item" property="item"  />
	 	<result column="price" property="price"  />
	 	<result column="introd" property="introd"  />	
		<!--一对一  从属bean "tblSetCom"bean里面的属性-->
		<association property="tblSetCom" javaType="org.great.bean.TblSetCom"  > 
			<id column="comId"  property="comId" />
			<result column="itemID" property="itemID"/>
			<result column="setmealId" property="setmealId"/>		
		</association>			
	</resultMap>
		
     <!--删除套餐中的项目  -->
 		<delete id="deleteItem" parameterType="java.lang.Integer">
 			delete FROM TBLSETCOM WHERE COMID = #{comId}
 		
 		</delete>
 	<!--增加套餐  -->	
 		<insert id="addOrder"  parameterType="org.great.bean.SetmealBean" >
 		  INSERT INTO TBLSETMEAL (SETMEALID, SETMEAL, DISCOUNT, PICTURE) 
 		  VALUES (tbl_setmeal.nextval, #{setmealBean.setmeal}, #{setmealBean.discount}, #{myPic} )
 				
 		</insert>
 	<!-- 增加套餐中的项目 -->
 		<insert id="addItem" parameterType="java.lang.Integer">
 			INSERT INTO "REGINSP"."TBLSETCOM" (SETMEALID, ITEMID, COMID) 
 			VALUES (#{setmealId}, #{itemId}, tbl_setcom.nextval)
 		</insert>		
 	<!--修改套餐名  -->	
 		<update id="updateOrder">		
 			UPDATE TBLSETMEAL SET SETMEAL = #{orderName} WHERE SETMEALID = #{orderId}
 		</update>
 		
 </mapper>