<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="org.great.mapper.OrderMapper">
 
 	<!-- 套餐设置显示 -->
 	<select id="showMeal" parameterType="java.lang.String"  resultType="org.great.bean.SetmealBean">			
 		select b.*, rownum from 
		(select a.*,rownum rn  from 
		(select * from  tblsetmeal  	
		<where>
		     <if test="setmeal!=null and setmeal !=''" >   setmeal like concat(concat('%',#{setmeal}),'%') order by  setmeal desc   </if>
		</where>
		) a 
		where rownum &lt;= (#{currentPage} * #{pagecount})  )b  where rn &gt;= ((#{currentPage}-1)*#{pagecount}+1)
 	</select>
 	
 	<!-- 套餐计算总页数 -->
 	<select id="totalPage" parameterType="java.lang.String" resultType="java.lang.Integer">
 		select count(*) from (select * from  tblsetmeal   
 		<where>
		     <if test="setmeal!=null and setmeal !=''" >   
		     setmeal like concat(concat('%',#{setmeal}),'%') order by  setmeal desc   </if>
		</where>
		)
 	</select>	
 	
 	<!-- 增加项目中的页面展示 -->
 		<select id="findItemById" parameterType="java.lang.Integer" resultMap="Tblfile">
 			select a.*,b.*,c.comId from tblitem a,tblsetmeal b,tblsetcom c  where b.setmealId = c.setmealId and a.itemId = c.itemId 
 			
 			<if test="null != setmealId and ''!= setmealId">
 					and c.setmealId = #{setmealId}
 			</if>				
 		</select>
 		
 	<!-- 查询套餐中的项目 -->	
<!--  		<select id="">
 			select e.*,rownum from
			(select d.* ,rownum rn from
			(select a.*,b.*,c.comId from tblitem a,tblsetmeal b,tblsetcom c  
			<where>
				b.setmealId = c.setmealId and a.itemId = c.itemId
				<if test="null != setmealId and ''!= setmealId">
 					and c.setmealId = #{setmealId}
 				</if>
 				<if test="">
 					
 				</if>
 				
			</where>
			
			
			where b.setmealId = c.setmealId and a.itemId = c.itemId and c.setmealId =1 and a.item like '%内%'  and a. price>=90 and a.price <=140)d
			where rownum <=5 )e where rn>=1
 		
 		
 		</select> -->
 		
 		
 		
 	<!-- 删除套餐名 -->	
 		<delete id="deleteOrder" parameterType="java.lang.Integer" >
 				delete FROM TBLSETMEAL WHERE setmealId = #{setmealId}
 		
 		</delete>
 		
 		<!-- 计算后台文档管理所需用到字段属性 -->
	<resultMap type="org.great.bean.LitemBean" id="Tblfile"> <!-- 这里的type配置包可以省略全路径 -->
		<!--主bean  -->
	 	<result column="itemId"  property="itemId"/>
	 	<result column="item" property="item"  />
	 	<result column="price" property="price"  />
	 	<result column="introd" property="introd"  />	
		<!--一对一  从属bean-->
		<association property="tblSetCom" javaType="org.great.bean.TblSetCom"  > 
			<id column="comId"  property="comId" />
			<result column="itemID" property="itemID"/>
			<result column="setmealId" property="setmealId"/>		
		</association>			
	</resultMap>
		
     <!--删除套餐中的项目  -->
 		<delete id="deleteItem" parameterType="java.lang.Integer">
 			delete FROM TBLSETCOM WHERE COMID = #{comId}
 		
 		</delete>
 	<!--增加套餐  -->	
 		<insert id="addOrder"  parameterType="org.great.bean.SetmealBean" >
 		  INSERT INTO TBLSETMEAL (SETMEALID, SETMEAL, DISCOUNT, PICTURE) 
 		  VALUES (tbl_setmeal.nextval, #{setmealBean.setmeal}, #{setmealBean.discount}, #{myPic} )
 				
 		</insert>
 	<!-- 增加套餐中的项目 -->
 		<insert id="addItem" parameterType="java.lang.Integer">
 			INSERT INTO "REGINSP"."TBLSETCOM" (SETMEALID, ITEMID, COMID) 
 			VALUES (#{setmealId}, #{itemId}, tbl_setcom.nextval)
 		</insert>		
 	<!--修改套餐名  -->	
 		<update id="updateOrder">		
 			UPDATE TBLSETMEAL SET SETMEAL = #{orderName} WHERE SETMEALID = #{orderId}
 		</update>
 		
 </mapper>