<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="org.great.mapper.ReportMapper">
     
   
	<!--展示有开单体检的公司  -->
 	<select id="showCompany" parameterType="java.lang.String"  resultMap="company" >
 		select d.*,rownum from
		(select c.* ,rownum rn from
		(select a.ordertime ,b.* from  tblbill  a,  TBLFOREGROUND b   
		<where>
				a.companyId = b.companyId
			<if test="null != company and ''!=company " >
				and  b.company  like concat(concat('%',#{company}),'%')
			</if>
		</where>
		 order by a.ordertime desc)c where rownum &lt;=(#{currentPage} * #{pagecount}))d where rn&gt;=((#{currentPage}-1)*#{pagecount}+1)	
 	</select>
 	
 	<resultMap type="org.great.bean.BillBean" id="company">
 		<result column="billId" property="billId"/>
 		<result column="companyId" property="companyId"/>
 		<result column="ordNum" property="ordNum"/>
 		<result column="actNum" property="actNum"/>
 		<result column="setmealId" property="setmealId"/>
 		<result column="actCharge" property="actCharge"/>
 		<result column="orderTime" property="orderTime"/>	
 	<association property="userBean" javaType="org.great.bean.UserBean">
 		<id column="companyId" property="companyId"/>
 		<result column="company" property="company"/>	
 	</association>	
 	</resultMap>
 	<!-- 计算公司总页数 -->
 	<select id="countPage" resultType="java.lang.Integer" >
 		select count(*) from
		(select a.ordertime ,b.* from  tblbill  a,  TBLFOREGROUND b  
		<where>
					a.companyId = b.companyId  
				<if test="null != company and ''!=company">
					and  b.company  like concat(concat('%',#{company}),'%')
				</if>			
		</where>		
	    order by a.ordertime desc)
 	
 	</select>
   
   
   <!-- 获得某给公司的职员用于改变状态 -->
   <select id="findGuChId"   parameterType="java.lang.Integer" resultType="org.great.bean.StaffBean" >
      select * from tblstaff where  companyId = #{companyId}
     
   </select>
   
   <!-- 修改小结状态 -->
     <update id="setSmall" parameterType="java.lang.String" >
     	UPDATE TBLSTAFF SET SMALLSTATE = '14' WHERE  myGuChId =#{myGuChId}
     
     </update>
   
  <!-- 展示公司的职员 --> 
    <select id="findUserById"  resultMap="queryUser" parameterType="org.great.bean.PerguirelaBean">
    
    		select e.*,rownum from 
			(select d.*,rownum rn from
			(select  a.* from  TBLSTAFF a ,TBLPERGUIRELA b
    	<where>
    			  a.staffId =b.staffId and  a.smallstate =14   and b.companyId = #{companyId,jdbcType=VARCHAR}
    			
    			<if test="null != pBean.partYear and ''!= pBean.partYear">
    				and b.partyear =#{pBean.partYear}
    			</if>
    			<if test="null != pBean.batchNum and ''!= pBean.batchNum"> 			
    				and b.BATCHNUM = #{pBean.batchNum }   			
    			</if> 			
    			<if test="null!=staffName and ''!=staffName ">
    				and  a.staffname  like concat(concat('%',#{staffName}),'%')  			
    			</if> 
    		
    	</where>     
    				 ) d where  rownum &lt;= (#{pBean.currentPage} * #{pagecount}) )e where rn&gt;= ((#{pBean.currentPage}-1)*#{pagecount}+1)
    </select>
    <resultMap type="org.great.bean.StaffBean" id="queryUser">
    	<result column="staffId"  property="staffId"/>
    	<result column="staffName"  property="staffName"/>
   		<result column="age"  property="age"/>
   		<result column="sex"  property="sex"/>
   		<result column="idNum"  property="idNum"/>
   		<result column="phone"  property="phone"/>
   		<result column="companyId"  property="companyId" />
   		<result column="idNum"  property="idNum"/> 
   		<result column="myGuChId"  property="myGuChId"/> 
   		<association property="perguirelaBean" javaType="org.great.bean.PerguirelaBean">
   			<id column="staffId" property="staffId"/>
   			<result column="partYear"  property="partYear"/>
   			<result column="batchNum"  property="batchNum"/>
   		</association>
    </resultMap>
    

   
   
   
   
 
   <!--计算展示的员工数量  -->
   	 <select id="countUser" resultType="java.lang.Integer" parameterType="org.great.bean.PerguirelaBean">
   			 select count(*) from
			 (select  b.*,a.staffname from  TBLSTAFF a ,TBLPERGUIRELA b
   	 	<where>
   	 		 a.staffId =b.staffId and  a.smallstate =14    and b.companyId = #{companyId}
   	 		 <if test="null != pBean.partYear and ''!= pBean.partYear">
    				and b.partyear =#{pBean.partYear}
    			</if>
    			<if test="null != pBean.batchNum and ''!= pBean.batchNum"> 			
    				and b.BATCHNUM = #{pBean.batchNum }   			
    			</if> 			
    			<if test="null!=staffName and ''!=staffName ">
    				and  a.staffname  like concat(concat('%',#{staffName}),'%')  			
    			</if> 	 	
   	 	</where>
   	 		)  	 
   	 </select>
   
   
  <!--用户报告  -->
 <!-- 	<select id="showReport" parameterMap="java.lang.String" resultType="org.great.bean.TotalBean">
 		SELECT * FROM tbltotal where  GUCHID =#{guChId}	 like concat(concat('%',#{guChId}),'%') 	
 	</select> -->
 	<select id="showReport" parameterType="java.lang.String" resultType="org.great.bean.TotalBean">
 		SELECT * FROM tbltotal where  GUCHID  =#{guChId}  
 	</select>
 	
 	<!--得到年份  -->
 	<select id="queryYear" resultType="java.lang.String"> 	
 		select distinct partyear from TBLPERGUIRELA	
 	</select>
 	
 	<!--得到批次号  -->
 	<select id="queryBatch" resultType="java.lang.Integer"  parameterType="org.great.bean.PerguirelaBean">
 		select distinct batchnum from TBLPERGUIRELA where partyear =#{partYear} and companyId = #{companyId}
 	</select>
 	
		 <!-- 	得到小结  -->
 	 <select id="querySmall" resultType="java.lang.Integer" parameterType="org.great.bean.SmallBean">
 	    select b.* from TBLPERGUIRELA a, TBLSMALL b ,TBLGUISETMEAL c
 	     where a.PERINSPID = c.PERINSPID and c.GUCHID = b.GUCHID and a.staffId = #{staffId}
 	 </select>
 	 
 	 	 <!--得到项目  -->
 	 <select id="queryItem" resultMap="showMySmall" parameterType="org.great.bean.StaffBean" >
 	 	select  e.item , f.*  from TBLSMALL f  ,TBLITEM e  ,  tblstaff g  where  g.myGuchId= f.guChId and f.itemId =e.itemId  and  g.staffId = #{staffId} and g.myGuChId = #{myGuChId} 
 	 	 
 	 	
 	 
 	 </select>
 	 	 
 	 <resultMap type="org.great.bean.SmallBean" id="showMySmall">
 	 	<result column="sumId"  property="sumId"/>
 	 	<result column="guChId"  property="guChId"/>
   		<result column="itemId"  property="itemId"/>
   		<result column="doctor"  property="doctor"/>
   		<result column="sumCont"  property="sumCont"/>
 	
 	 <association property="litemBean" javaType="org.great.bean.LitemBean">
   			<id column="itemId" property="itemId" />
   			<result column="item"  property="item"/>
   			<result column="price"  property="price"/>
   			<result column="introd"  property="introd"/>
   	 </association>		 
 	 </resultMap>
 	 
 	 
 	 <!-- 插入总结 tbl_total.nextval-->
 	 <insert id="insertTotal" parameterType="org.great.bean.TotalBean">
 	 	INSERT INTO TBLTOTAL (TOTALID, GUCHID, DOCTOR, PROPOSAL, LIFEGUID, DOCSUMMARY, SUGGEST) 
 	 	VALUES (tbl_total.nextval, #{guChId}, #{doctor}, #{proposal}, #{lifeGuid}, #{docSummary}, #{suggest})	 
 	 </insert>
 	 

 	  <!-- 得到科室 -->
 	 <select id="querySection" resultMap="mySection" parameterType="org.great.bean.StaffBean">
 	 		 select  a.*，b.termVal from tblfinresult b ,TBLTERM a ,TBLITEMCOM c 
 	 		 where   a.termId = b.termId and a.termId=c.termId and  c .itemId  =#{itemId} and b.guChId =#{guChId}
 	 		 
 	 </select>
 	 
 	  <resultMap type="org.great.bean.TermBean" id="mySection">
 	 	<result column="termId"  property="termId"/>
 	 	<result column="term"  property="term"/>
   		<result column="measur"  property="measur"/>
   		<result column="upLimit"  property="upLimit"/>
   		<result column="downLimit"  property="downLimit"/>
 		<result column="none"  property="none"/>
 	
 	 <association property="finresultBean" javaType="org.great.bean.FinresultBean">
   			<result column="guChId"  property="guChId"/>
   			<result column="termId"  property="termId"/>
   			<result column="termVal"  property="termVal"/>
   			<result column="itemId"  property="itemId"/>  	 
   	 </association>	
   	 	    	 	 
 	 </resultMap>
 	 


		
 	<!--判断小结是否结束  -->
 	<select id="checkSmall" resultType="org.great.bean.SmallBean" parameterType="org.great.bean.StaffBean">
 		
 		 select * from TBLSMALL where guChId = #{staffBean.myGuChId} and itemId = #{itemId}
 	
 	</select>
 	
 	 <!--取代上面的 计算小结  -->
 	<select id="sumSmall"  resultType="java.lang.Integer" parameterType="java.lang.String">  
 	 
 		select count(*) from TBLSMALL where guChId = #{myGuChId} 	
 	
 	</select>
 	
 	<!-- 取代下面  计算套餐中的小结 -->
 		<select id="sumOrderItem"    resultType="java.lang.Integer" parameterType="java.lang.String">  
 		
 		 select  count(a.itemId) from     tblsetcom a , tblguisetmeal c ,  tblstaff d 
 		  where d.myGuchId= c.GUCHID and c.setmealId = a.setmealId and d.myGuchId = #{myGuChId}
 		</select>




 	  <!--判断该项目是否完成小结  -->
 	 
 	 <select id="collectItem"   parameterType="org.great.bean.StaffBean"  resultType="java.lang.Integer" >
 	 
 	  select itemId from tblsetcom where  setmealId =( select  setmealId from  TBLGUISETMEAL  
 	  where guChId =#{myGuChId})
 	  
 	 </select>
 	 
 	 
 	 
 	 <!--体检完改变体检状态  -->
 	 <update id="changeState" parameterType="org.great.bean.TotalBean" >
 	    
 			 UPDATE TBLSTAFF  SET MEDICALID = '83' , SMALLSTATE = '15' WHERE  myGuChId =#{guChId}
 	 </update>
 	 
 	 
 	 <!--增加实际体检人数  -->
 	 <update id="addUser" parameterType="java.lang.String">
 	 
 	 	UPDATE TBLBILL SET ACTNUM = (ACTNUM+1) WHERE orderTime =#{orderTime}
 	 
 	 </update>
 	 
 	 
 	 
 	 
 	 
 </mapper>
 