<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="org.great.bean.TotalBean">
   
  <!--用户报告  -->
 	<select id="showReport" parameterMap="java.lang.Integer" resultType="org.great.bean.TotalBean">
 		SELECT * FROM tbltotal where  GUCHID =#{reportId}	
 	</select>
 </mapper>
 